
/* section hero */

.section-hero {
    width: 100%;
    display: flex;
}

.hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    background-color: #6A9A56;
    color: #FCFCFC;
    gap: 2rem;
}

.image-hero {
    width: 50%;
}

/* section games */

.section-game-collection{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.filter-options{
    gap: 2rem;
    display: flex;
}

.filter-icon{
    background-color: #DEEED8;
    color: #0A140F;
    border: none;
    border-radius: 3.125rem;
    padding: 1rem 1.5rem;
    font-weight: 700;
}
.filter-icon:hover{
    background-color: #84C26B;
    color: #0A140F;
}

/* Card Game */
.section-cards-game{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-game-collection{
    border: none;
    border-radius: 3.125rem;
    box-shadow: rgba(100, 100, 111, 0.12) 15px 20px 30px 0px;
    padding: 2rem;
    display: flex;
    gap: 3rem;
    width: 42%;
}

.card-game-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-game-opinions{
    gap: 3rem;
}

.card-game-note, .card-game-number-gamers{
    gap: 1rem;
}


/* section where to play */

.section-where-to-play{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.where-to-play-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards-towns{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* section about */

.section-about{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;;
}
.about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}