<div class="page-wrapper">
    <div class="main-wrapper">
        <div class="section-hero">
            <div class="hero-image">
                <img id="image-hero" src="assets/images/hero-image.jpg" alt="Hero Image">
            </div>
            <div class="hero-content">
                <h1>Quel jeu de société est fait pour vous ?</h1>
                <p>Répondez à quelques questions et découvrez instantanément les jeux de société qui correspondent à votre style et à vos envies !</p>
                <button class="test-button">Faire le test</button>
            </div>
        </div>
        <div class="section-game-collection">
            <h2>Explorez notre vaste collection de jeux de société</h2>
            <div class="filter-options">
                <div class="filter-icon">
                    <img src="assets/icons/filter-icon.svg" alt="Filter Icon">
                </div>
                <div class="filter-icon">
                    <p>Les + populaires</p>
                </div>
                <div class="filter-icon">
                    <p>Nouveautés</p>
                </div>
            </div>
            <div class="section-cards-game">
                <div class="card-game-collection">
                    <div class="card-game-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-game-description">
                        <h3>Nom du jeu</h3>
                        <p>Description du jeu de societe</p>
                    </div>
                    <div class="card-game-opinions">
                        <div class="card-game-note">
                            <img src="assets/icons/star-icon.svg" alt="Star Icon">
                            <p>4.5</p>
                            <p>121 notes</p>
                        </div>
                        <div class="card-game-number-gamers">
                            <img src="assets/icons/people-icon.svg" alt="People Icon">
                            <p>plus de 267 joueurs</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="section-where-to-play">
                <div class="where-to-play-content">
                    <h2>Où jouer ?</h2>
                        <div class="cards-towns">
                            <div class="card-city">
                                <img src="assets/icons/location-icon.svg" alt="Location Icon">
                                <h3 class="title-city">Nom de la ville</h3>
                            </div>
                            <div class="card-city">
                                <img src="assets/icons/location-icon.svg" alt="Location Icon">
                                <h3 class="title-city">Nom de la ville</h3>
                            </div>
                            <div class="card-city">
                                <img src="assets/icons/location-icon.svg" alt="Location Icon">
                                <h3 class="title-city">Nom de la ville</h3>
                            </div>
                            <div class="card-city">
                                <img src="assets/icons/location-icon.svg" alt="Location Icon">
                                <h3 class="title-city">Nom de la ville</h3>
                            </div>
                        </div>
                </div>
                <button class="green-button">Trouver ma ville</button>
            </div>
            <div class="section-about">
                <div class="about-content">
                    <h2>À propos</h2>
                    <p>
                        Notre plateforme a été créée pour offrir un accès facile et complet à l’univers des jeux de société. 
                        Avec un vaste catalogue constamment mis à jour, nous permettons aux joueurs de découvrir de nouveaux titres adaptés à leurs goûts grâce à des recommandations personnalisées. 
                        Nous connectons également les amateurs aux boutiques et bars à jeux, facilitant ainsi l’achat, la location et la participation à des événements ludiques. 
                        Que vous soyez joueur occasionnel, passionné ou professionnel du secteur, notre mission est de rendre les jeux de société plus accessibles et de dynamiser cette communauté en proposant un espace centralisé pour explorer, partager et vivre pleinement cette passion.
                    </p>
                </div>
                <button class="green-button">En savoir plus</button>
            </div>
        </div>
    </div>