<div class="page-wrapper">
    <div class="main-wrapper">
        <div class="section-hero">
            <div class="hero-image">
                <img id="image-hero" src="assets/images/hero-image.jpg" alt="Hero Image">
            </div>
            <div class="hero-content">
                <h1>Quel jeu de société est fait pour vous ?</h1>
                <p>Répondez à quelques questions et découvrez instantanément les jeux de société qui correspondent à votre style et à vos envies !</p>
                <button class="test-button">Faire le test</button>
            </div>
        </div>
        <div class="section-game-collection">
            <div class="section-game-card-header">
                <h2>Explorez notre vaste collection de jeux de société</h2>
                <div class="filter-options">
                    <button class="filter-icon">
                        <img src="assets/images/filter-icon.svg" alt="Filter Icon">
                    </button>
                    <button class="filter-icon">
                        Les + populaires
                    </button>
                    <button class="filter-icon">
                        Nouveautés
                    </button>
                </div>
            </div>
            <div class="section-cards-game-wrapper">
                <div *ngFor="let game of hotGames | slice:0:4" class="section-cards-game">
                    <div class="card-game-collection display-flex">
                        <div class="card-game-wrapper display-flex">
                            <div class="card-game-content">
                                <div class="card-game-description display-flex">
                                    <div class="card-game-image">
                                        <img [src]="game.image" [alt]="game.name">
                                    </div>
                                    <div class="card-game-text">
                                        <h3>{{ game.name }}</h3>
                                        <div class="card-game-details display-flex">
                                            <p>{{ game.description | truncate:300 }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-game-opinions display-flex">
                                    <div class="card-game-note display-flex">
                                        <div class="card-game-note-section display-flex">
                                            <img src="assets/images/star-note.svg" alt="Star Icon" class="star-icon">
                                            <p>{{ game.rating | number:'1.1-1' }}</p>
                                        </div>
                                        <div class="card-game-note-section">
                                            <p>{{ game.votes}} votes</p>
                                        </div>
                                    </div>
                                    <div class="card-game-number-gamers display-flex">
                                        <img src="assets/images/people-icon.svg" alt="People Icon">
                                        <p>plus de 267 joueurs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-game-buttons display-flex">
                                <button class="card-game-button-green">Ajouter à mes jeux</button>
                                <button class="card-game-button-pale-green">En savoir plus</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="section-where-to-play">
                <div class="where-to-play-content">
                    <h2>Où jouer ?</h2>
                        <div class="cards-towns">
                            <div class="card-city">
                                <img src="assets/images/city-toulouse.png" alt="Location Icon">
                                <h3 class="title-city">Toulouse</h3>
                            </div>
                            <div class="card-city">
                                <img src="assets/images/city-bordeaux.png" alt="Location Icon">
                                <h3 class="title-city">Bordeaux</h3>
                            </div>
                            <div class="card-city">
                                <img src="assets/images/city-nantes.png" alt="Location Icon">
                                <h3 class="title-city">Nantes</h3>
                            </div>
                            <div class="card-city">
                                <img src="assets/images/city-saint-jean-luz.png" alt="Location Icon">
                                <h3 class="title-city">Saint-Jean-de-Luz</h3>
                            </div>
                        </div>
                </div>
                <button class="green-button">Trouver ma ville</button>
            </div>
            <div class="section-about">
                <div class="about-content">
                    <h2>À propos</h2>
                    <p>
                        Notre plateforme a été créée pour offrir un accès facile et complet à l’univers des jeux de société. 
                        Avec un vaste catalogue constamment mis à jour, nous permettons aux joueurs de découvrir de nouveaux titres adaptés à leurs goûts grâce à des recommandations personnalisées. 
                        Nous connectons également les amateurs aux boutiques et bars à jeux, facilitant ainsi l’achat, la location et la participation à des événements ludiques. 
                        Que vous soyez joueur occasionnel, passionné ou professionnel du secteur, notre mission est de rendre les jeux de société plus accessibles et de dynamiser cette communauté en proposant un espace centralisé pour explorer, partager et vivre pleinement cette passion.
                    </p>
                </div>
                <button class="green-button">En savoir plus</button>
            </div>
        </div>
    </div>