<div class="page-wrapper">
    <div class="main-wrapper">
        <div class="section-confirmation display-flex">
            <h1 class="title-green">Bienvenue dans l’univers Tharbad !</h1>
            <p>Votre compte a bien été créé. Vous êtes désormais prêt à explorer de nouveaux jeux et à organiser votre bibliothèque ludique !</p>
            <p class="green-text">C’est quoi la prochaine étape ?</p>
            <p>Un e-mail de confirmation vient de vous être envoyé.<br/>Cliquez sur le lien pour valider votre inscription et commencer l’aventure !</p>
            <p>Vous n’avez pas reçu l’e-mail ? Vérifiez votre dossier spam ou <a class="link-green">renvoyez l’e-mail</a>.</p>
            <div class="confirmation-content-button display-flex">
                <button routerLink="/home" class="button-form">Retour a l'accueil</button>
            </div>
        </div>
    </div>
</div>
