<div class="dashboard-header">
    <div class="dashboard-header-content">
        <div class="dashboard-header-content">
            <div class="dashboard-header-title">
                <h1 class="title-dashboard">Bienvenue</h1>
            </div>
            <div class="dashboard-header-subtitle">
                <h2 class="subtitle-dashboard">Recommandations</h2>
                <h2 class="subtitle-dashboard">Statistiques</h2>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-content">
    <p>Il n'y a aucun jeux dans votre bibliothèque pour le moment.</p>
</div>